.division {
  padding-top: 8px;
}

.header {
  padding-left: 8px;

  color: var(--grey-dark);

  font-size: 10px;
}

//divider n the bottom
.division:not(:last-child)::after{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  content: '';

  height: 1px;
  width: 90%;

  background-color: var(--grey-darkest);
}
