@use 'styles/vars/' as *;

.stages {
	// display: grid;
	// grid-template-rows: 8px 16px;
	font-size: 10px;
	font-weight: 400;
	color: $main_white;
}

.ptsWrap {
	display: flex;
	justify-content: space-between;
}

.line {
	position: relative;
	width: 120px;
	height: 2px;
	background-color: $grey_main;

	&.start {
		width: 0;
	}

	&.current {
		background-color: $accent_main;
	}

	&.completed {
		background-color: $accent_main;
	}
}

.ptOuter {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: -4px;
	transform: translateY(-50%);

	width: 8px;
	height: 8px;

	background-color: $grey_main;
	border-radius: 50%;

	&.current {
		background-color: $grey_slight;
	}

	&.completed {
		background-color: $accent_main;
	}
}

.ptInner {
	position: absolute;
	z-index: 3;
	top: 50%;
	right: -2px;
	transform: translateY(-50%);

	width: 4px;
	height: 4px;

	background-color: $accent_main-hvr;
	border-radius: 50%;

	&.current {
		background-color: $accent_main;
	}

	&.completed {
		background-color: $accent_main;
	}
}

.icon {
	position: absolute;
	top: 4px;
	right: -8px;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 16px;
	height: 16px;

	svg {
		width: 10px;
		height: 10px;
		fill: $grey_main;
	}

	&.current {
		svg {
			fill: $grey_slight;
		}
	}

	&.completed {
		svg {
			fill: $accent_main;
		}
	}
}

.txt {
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);

	color: $grey_dark;

	&.start {
		display: none;
	}

	&.current {
		color: $grey_main;
	}

	&.completed {
		color: $grey_slight;
	}
}