{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    //spacing inline
    "array-bracket-spacing": ["error", "always"],
    "keyword-spacing": ["error", { "before": true }],    
    "comma-spacing": ["error", { "before": false, "after": true }],
    "arrow-spacing": "error",
    "object-curly-spacing": ["error", "never"],
    //commas
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "always",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],

    "indent": ["error", 2],
    "prefer-spread": "warn",
    "no-multi-spaces": "error",
    "no-tabs": ["error"],
    "no-trailing-spaces": "error",
    //semicolons
    "semi-style": ["error", "last"],
    "semi": ["error", "always"]
  }
}