.checkMatrix {
	display: flex;
	flex-flow: row wrap;
	width: 96px;
}

.item {
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;

	font-size: 12px;
	color: var(--grey-main);
	text-align: center;
	text-decoration: none;

	transition: all 0.2s;

	&:hover {
		background-color: rgb(255 255 255 / 10%);
	}

	&.itemSelected{
		color: var(--white);
		text-decoration: underline;
	}

	&.itemClosed {
		text-decoration: line-through;

		&:hover {
			color: var(--black);
			background-color: rgb(255 125 125 / 40%);
		}
	}
}