@use 'styles/' as *;

.layersListItem {
  height: $module * 4;

  display: grid;
  column-gap: $module;
  grid-template-columns: $module 1fr $module * 2;
  align-items: center;
  align-content: center;


  padding: 0 $module;
  margin: -1px 0 0 0;


  border-top: 1px solid var(--grey-light);
  border-right: 1px solid rgba($color: #000000, $alpha: 0.0);
  border-bottom: 1px solid var(--grey-light);
  border-left: 1px solid rgba($color: #000000, $alpha: 0.0);

  /* user-select: none; */
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--primary-overlay-superlight);
  }

  &__name {
    height: 100%;

    display: flex;
    align-items: center;
  }

  &__emptyStatus {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nonEmptyBadge {
    height: 4px;
    width: 4px;
  
    border-radius: 4px;
  
    background-color: var(--primary);
  }

  &__iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.layersListItem-active {
  background-color: var(--primary-overlay-light);
  border-color: var(--primary);
  margin: 0 0 1px 0;

  &:hover {
    background-color: var(--primary-overlay-light);
  }
}


.layersListItem-hidden {
  color: var(--grey-main);

  svg{
    stroke: var(--grey-main);
  }
}

.layersListItem-blocked {
  grid-template-columns: 8px 1fr 16px 16px;
}
