.topBar{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  // height: 48px;
}

.corner{
  display: flex;
  justify-content: space-between;

  &__logo{
    padding: auto 0;
    padding-left: 10px;
    font-weight: bold;
  
    color: var(--white);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  font-size: 12px;

  &__part{
    display: flex;
    justify-content: center;
  }
}

.utils {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
}
