.topBar{
	position: relative;
	display: grid;
	grid-template-columns: 250px 1fr 250px;
	width: 100%;

	// height: 48px;
}

.corner{
	display: flex;
	justify-content: space-between;

	&__logo{
		display: flex;
		align-items: center;
		justify-content: center;

		padding: auto 0;
		padding-left: 10px;

		font-weight: bold;
		color: var(--white);
	}
}

.main{
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr;

	width: 100%;
	height: 100%;

	font-size: 12px;

	&__part{
		display: flex;
		justify-content: center;
	}
}

.utils {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 1fr;
}
