.menu {
  position: absolute;
  top: 100%;
  left: 50%;

  margin-top: 10px;

  background-color: var(--black);
  /* padding: 10px 15px; */

}

.menuBlockHeader {
  font-size: 9px;
}

.menuBlock:not(:last-child){
  margin-bottom: 30px;
}

.menuItem{
  display: flex;
  flex-direction: row;
  gap: 10px;

  padding: 5px 0;

  align-items: center;
  justify-content: space-between;
}

.menuItemCheck, .menuItemRange{
  display: flex;
  flex-direction: row;

  align-items: center;
}


.menuItemRange{
  display: flex;
  flex-direction: column;
}

.menuItemRangeVal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.menuItemAnglesWrapper {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;

}

.menuItemAngles {
  display: flex;
  flex-direction: row;
  align-items: center;
}