.menu {
	position: absolute;
	top: 100%;
	left: 50%;

	margin-top: 10px;

	background-color: var(--black);
	padding: 10px 10px;

}

.menuBlockHeader {
	font-size: 9px;
}

.menuBlock:not(:last-child){
	margin-bottom: 20px;
}

.menuItem{
	display: flex;
	flex-direction: row;
	gap: 10px;

	align-items: center;
	justify-content: space-between;
}

.menuItemCheck, .menuItemRange{
	display: flex;
	flex-direction: row;

	align-items: center;
}

.menuItemRange{

}