@use 'styles/' as *;

.objDataProp {
	user-select: none;

	display: grid;

	// column-gap: $module;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	height: $module * 4;
	margin: -1px 0 0;
	padding: 0 $module;


	border-top: 1px solid var(--grey-light);
	border-bottom: 1px solid var(--grey-light);

	&__name {}

	&__value {
		display: flex;
		justify-content: right;
	}
}