$main_white: #FFF;
$bg_black: #2C2C2C;
$bg_black-hover: #202020;
$grey_main: #C3C3C3;
$grey_dark: #686868;
$grey_slight: #F5F5F5;
$accent_main: #3EB0FF;
$accent_main-hvr: #9FD8FF;
$accent_main-hvr-d: #37759F;