.leftBar{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
}

.layerItem{
    padding: 8px 15px;
    border-top: 1px solid var(--grey-light);

    color: var(--black);

    cursor: pointer;
}

.layerItem:last-child{
    border-bottom: 1px solid var(--grey-light);
}

.layerItem_empty{
    color: var(--grey-main);
}

.layerItem_active{
    background-color: rgb(203, 230, 255);
    border: 1px solid rgb(134, 196, 255);
}

.layerItem_notEditable{
    background-color: var(--grey-lightest);
}


/* .button, .buttonActive{
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding: 4px;
    border: 1px solid rgb(134, 196, 255);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: all 0.2s;
}

.button:hover{
    background-color: rgb(236, 236, 236);
}

.button:active{
    background-color: rgb(134, 196, 255);
}

.buttonActive{
    color: white;
    background-color: rgb(134, 196, 255);
}

.drawingTools{
    display: flex;
    gap: 10px;
} */
