.appHeader{
    width: 100%;
    display: grid;
    grid-template-columns: 250px 1fr 250px;
}

.tools{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    font-size: 12px;
}

.corner{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 20px 0;
    padding-left: 10px;
    font-weight: bold;
}

.button, .buttonActive{
    height: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.2s;
}


.button:hover{
    background-color: var(--black-dark);
    color: var(--grey-main);
}

.button:active{
    background-color: rgb(134, 196, 255);
}

.buttonActive{
    color: white;
    background-color: rgb(134, 196, 255);
}

.cameraOptions{
    display: flex;
    justify-content: center;
}

.drawingTools{
    height: 100%;
    display: flex;
    /* gap: 10px; */
}

.toolsOptions{
	position: relative;
}

.menuItemReciever {
	position: absolute;

	height: 100%;
	width: 100%;
}

.menuOpener{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 5px;
}

.popupMenu {
	position: absolute;
	top: 100%;

	margin-top: 10px;

	background-color: var(--black);
	padding: 10px 5px;

}
