.appHeader{
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  height: 50px;
}

.tools{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    font-size: 12px;
}

.corner{
    display: flex;
    justify-content: space-between;
}

.logo{
  padding: auto 0;
  padding-left: 10px;
  font-weight: bold;

  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
}

.button, .buttonActive, .buttonSelected{
  position: relative;

  height: 100%;

  display: grid;
  grid-template-columns: 24px 8px;
  grid-template-rows: 1fr;
  column-gap: 8px;
  
  font-size: 12px;
  justify-content: center;
  align-items: center;

  padding: 8px 10px;

  transition: all 0.2s;    
  cursor: pointer;
}


.button:hover, .buttonSelected {
  background-color: var(--black-overlay);
  color: var(--grey-main);
}

.buttonActive{
  color: white;
  background-color: var(--primary-overlay);
}

.btnContentMain{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cameraOptions{
    display: flex;
    justify-content: center;
}

.drawingTools{
  height: 100%;
  display: flex;
}

.helpersOptions{
  position: relative;
}

.menuItemReciever {
  position: absolute;

  height: 100%;
  width: 100%;
}

.menuOpener{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 5px;
}

.popupMenu {
  position: absolute;
  top: 100%;

  margin-top: 10px;

  background-color: var(--black);
  padding: 10px 5px;

}

.popupMenuHeader {
  font-size: 9px;
}

.popupMenuItem{
  display: flex;
  flex-direction: row;
  gap: 10px;

  align-items: center;
}
