html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	/* background: var(--grey-lightest); */

	font-family: 'Noto Sans KR', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

* {
	box-sizing: border-box;
}


:root {
	--black: #3B434E;
	--black-dark: #23272e;

    --grey-lightest:#EBEBEB;
	--grey-light:#e0e0e0;
	--grey-main-light:#c5c5c5;
    --grey-main:#b1b1b1;


	--white: white;

	--primary-invis: #95ccff;
	--primary: #1790FF;
	--primary-hover: #167cdb;
	
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans KR', sans-serif;
}