html,
body {
  margin: 0;
  padding: 0;
  color: var(--black);
  /* background: var(--grey-lightest); */

  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.label {
  background-color: var(--primary);
  color: white;
  padding: 5px;
  border-radius: 2px;

  font-size: 12px;
}


:root {
  --black: #202020;
  --black-dark: #202020;

  /* greys */
  --grey-lightest:#F5F5F5;
  --grey-light:#E9E9E9;
  --grey-main:#C3C3C3;
  --grey-dark:#686868;
  --grey-darkest:#474747;


  --white: white;

  --primary-invis: #95ccff;
  --primary: #3EB0FF;
  --primary-overlay: rgba(62, 176, 255, 0.25);
  --primary-hover: #167cdb;
  
  --red: #FC836D;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Inter', sans-serif;
}