.matrix {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 96px;
}

.item {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--grey-main);
  text-decoration: none;
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.itemSelected {
  color: var(--white);
  text-decoration: underline;
}

.itemClosed {
  color: var(--grey-dark);
  text-decoration: none;
}

.itemClosed:hover {
  background-color: rgba(255, 125, 125, 0.4);
  color: var(--black);
}
