.wrapper {
    /* display: grid; */
    min-height: 100vh;
    /* max-height: 100vh; */
    /* grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "body"; */
}

/* .headerWrap {
    grid-area: header;
}

.bodyWrap {
    grid-area: body;
} */