.page {
    display: grid;
    grid-template-areas:
    "lBar canvas rBar";
    grid-template-columns: minmax(200px, auto) minmax(500px, 1fr) minmax(200px, auto);
}

.sideBar{
    padding: 10px;
}

.leftBar{
    grid-area: lBar;
    background-color: var(--white);
    border-right: 0.5px solid var(--grey-light);
}

.rightBar{
    grid-area: rBar;
    background-color: var(--white);
    border-left: 0.5px solid var(--grey-light);
}


.canvas{
    grid-area: canvas;
}