.page {
    /* display: grid;
    grid-template-areas:
    "lBar canvas rBar";
    grid-template-columns: 250px minmax(500px, 1fr) 250px; */
}

.topBar {
	position: absolute;
	top: 0;
	width: 100%;
	max-height: 50px;
	z-index: 10;
}

.sideBar{
    padding: 10px 0;
    font-size: 12px;

	z-index: 10;
}

.leftBar{
    grid-area: lBar;
    background-color: var(--white);
    border-right: 0.5px solid var(--grey-light);

	position: absolute;
	left: 0;
	top: 50px;
	width: 250px;
	height: auto;
}

.rightBar{
    grid-area: rBar;
    background-color: var(--white);
    border-left: 0.5px solid var(--grey-light);

	position: absolute;
	right: 0;
	top: 50px;
	width: 250px;
}


.canvas{
	position: absolute;
	top: 0;
	/* z-index: -1; */
    /* grid-area: canvas; */
}