@use 'styles/' as *;

.stageBar {
  display: flex;
  align-items: center;
  height: 40px;
}

.stageBar__btn {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: $bg_black;
  color: $main_white;
  &:hover {
    background-color: $bg_black-hover;
  }
  svg {
    width: 10px;
    height: 10px;
    fill: $grey_main;
  }
}

.stageBar__bar {
  position: relative;
  visibility: hidden;
  padding: 12px 12px 4px 12px;
  height: 100%;
  width: 0;
  opacity: 0;
  background-color: $bg_black;
  border-radius: 2px;
  margin-left: 20px;
  // transform: scaleX(0);
  transition: width .6s;
  &--active {
    visibility: visible;
    width: auto;
    opacity: 1;
    transition: width .6s;
    // transform: scaleX(1);
  }

  &__tail {
    position: absolute;
    left: -4px;
    width: 10px;
    height: 10px;
    background-color: $bg_black;
    border-radius: 1px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}