.complexSlider {
	display: grid;
	grid-template-areas: 
		'. . .'
		'slider val val'
		'name name name';
	grid-template-columns: 1fr 8px 8px;
	grid-template-rows: repeat(3, 8px);
	align-items: center;

	font-size: 10px;
	line-height: 10px;
	color: var(--grey-main);

	&.dark {
		color: var(--grey-darkest);
	}
}

.value{
	grid-area: val;
	text-align: end;
}

.slider{
	display: flex;
	grid-area: slider;

}

.valName{
	grid-area: name;
}