.listItemCheck, .listItemCheck_bold {
  display: grid;
  column-gap: 8px;
  align-items: center;

  min-height: 24px;
  padding: 8px 8px;

  user-select: none;
}

.listItemCheck {
  grid-template-columns: 8px 24px auto auto;
  grid-template-areas: 
  "check icon title content";

  &__check {
    grid-area: check;
    display: flex;
  }

  &__icon {
    grid-area: icon;
  }

  &__title {
    grid-area: title;
  
    font-size: 12px;
    line-height: 12px;
    color: var(--white);
    text-transform: capitalize;
  }
  
  &__content {
    grid-area: content;
  }
}

.listItemCheck_bold {
  grid-template-columns: 8px auto auto;
  grid-template-areas: 
  "check title content";
}

.listItemCheck:hover, .listItemCheck_bold:hover {
  background-color: var(--primary-overlay);
}
