.listItemCheck {
  display: grid;
  column-gap: 8px;
  align-items: center;

  min-height: 24px;
  padding: 8px 8px;

  user-select: none;
  grid-template-columns: 8px 24px auto auto;
  grid-template-areas: 
  "check icon title content";

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.bold {
    grid-template-columns: 8px auto auto;
    grid-template-areas: 
    "check title content";
  }

  &:hover {
    background-color: var(--primary-overlay);
  }
}

.check {
  grid-area: check;
  display: flex;
}

.icon {
  grid-area: icon;
}

.title {
  grid-area: title;

  font-size: 12px;
  line-height: 12px;
  color: var(--white);
  text-transform: capitalize;
}

.content {
  grid-area: content;
}
