.desk {
    display: block;
    /* background-color: var(--primary); */
    color: var(--white);
    grid-area: header;
    padding: 10px;
    max-height: 100%;
}

.canvasScene{
    max-width: 100%;
    max-height: auto;
    z-index: 0;
}

/* .canvasScene{
    max-width: 100%;
    max-height: auto;
    z-index: 1;
} */

/* .desk canvas{
    max-width: 400px;
    max-height: 400px;
} */

/* canvas{
    display: none;
} */
